@keyframes scrollWithPause {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-animation {
  animation: scrollWithPause;
  animation-iteration-count: infinite;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-delay: 5s;
}
